.index {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 40px;
}

.btnLogin {
  width: 120px;
  margin-top: 20px;
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}
