{
  "presets": [
    "react",
    ["env"]
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["module-resolver", {
      "alias": {
        "modules": "./src/modules"
      }
    }],
    "react-hot-loader/babel"
  ]
}
