{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "import"
  ],
  "extends": "airbnb",
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "no-console": 0,
    "react/prop-types": [2, {"ignore": ["className", "children", "id", "onClick", "style", "dispatch", "params", "location"]}]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack/webpack.config.base.babel.js"
      }
    }
  }
}
