.loginForm {
  margin-top: 20%;
  min-height: 390px;
  background-color: #F8F8F8;
}

.header {
  font-size: 18px;
  padding: 10px 10px;
  margin: 0 10px;
  border-bottom: 1px solid #ddd;
}

.body {
  margin: 20px 0;
  padding: 20px;
}
