:global(.modal-dialog) {
  &.modalDialog {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (min-width: 768px) {
    &.modalDialog {
      width: 750px;
    }
  }

  @media (min-width: 992px) {
    &.modalDialog {
      width: 970px;
    }
  }

  @media (min-width: 1200px) {
    &.modalDialog {
      width: 1170px;
    }
  }
}

:global(.modal-body) {
  &.modalBody {
    position: relative;
    padding: 15px 0;
    min-height: calc(100vh - 2 * 30px);
  }
}
